<nav class="navbar navbar-expand-lg @@classList">
  <div class="@@if(type=='boxed'){container}@@if(type!=='boxed'){container-fluid}">

    <!-- Brand -->
    <!-- <a class="navbar-brand" href="@@webRoot/index.html">
      <img src="@@webRoot/assets/img/brand.svg" class="navbar-brand-img" alt="...">
    </a> -->

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="navbarCollapse">

      <!-- Toggler -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <i class="fe fe-x"></i>
      </button>

      <!-- Navigation -->
      <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarLandings" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false">
            Landings
          </a>
          <div class="dropdown-menu dropdown-menu-xl p-0" aria-labelledby="navbarLandings">
            <div class="row no-gutters">
              <div class="col-12 col-lg-6">
                <div class="dropdown-img-left" style="background-image: url(@@webRoot/assets/img/photos/photo-3.jpg);">

                  <!-- Heading -->
                  <h4 class="font-weight-bold text-white mb-0">
                    Want to see an overview?
                  </h4>

                  <!-- Text -->
                  <p class="font-size-sm text-white">
                    See all the pages at once.
                  </p>

                  <!-- Button -->
                  <a href="@@webRoot/overview.html" class="btn btn-sm btn-white shadow-dark fonFt-size-sm">
                    View all pages
                  </a>

                </div>
              </div>
              <div class="col-12 col-lg-6">
                <div class="dropdown-body">
                  <div class="row no-gutters">
                    <div class="col-6">

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Services
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="@@webRoot/coworking.html">
                        Coworking
                      </a>
                      <a class="dropdown-item" href="@@webRoot/rental.html">
                        Rental
                      </a>
                      <a class="dropdown-item mb-5" href="@@webRoot/job.html">
                        Job Listing
                      </a>

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Apps
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="@@webRoot/desktop-app.html">
                        Desktop
                      </a>
                      <a class="dropdown-item" href="@@webRoot/mobile-app.html">
                        Mobile
                      </a>

                    </div>
                    <div class="col-6">

                      <!-- Heading -->
                      <h6 class="dropdown-header">
                        Web
                      </h6>

                      <!-- List -->
                      <a class="dropdown-item" href="@@webRoot/index.html">
                        Basic
                      </a>
                      <a class="dropdown-item" href="@@webRoot/enterprise.html">
                        Enterprise
                      </a>
                      <a class="dropdown-item" href="@@webRoot/service.html">
                        Service
                      </a>
                      <a class="dropdown-item" href="@@webRoot/cloud.html">
                        Cloud Hosting
                      </a>
                      <a class="dropdown-item" href="@@webRoot/agency.html">
                        Agency <span class="h6 text-uppercase text-primary">(new)</span>
                      </a>

                    </div>
                  </div> <!-- / .row -->
                </div>
              </div>
            </div> <!-- / .row -->
          </div>
        </li>
      </ul>

      <!-- Button -->
      <form>
        <a class="navbar-btn btn btn-sm btn-primary lift ml-auto" href="mailto:soufiane.fellahi14@gmail.com?subject=information request" target="_blank">Contact us</a>
      </form>
        

    </div>

  </div>
</nav>
